<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Pregunta</key>
		<string>Las soluciones homogéneas están constitudas por solvente y soluto</string>
		<key>A</key>
		<string>Verdadero</string>
		<key>B</key>
		<string>Falso</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Verdadero</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>La concentración es la relación entre solvente y soluto y volúmen de la mezcla</string>
		<key>A</key>
		<string>Verdadero</string>
		<key>B</key>
		<string>Falso</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Falso</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>El solvente es lo que contiene al soluto</string>
		<key>A</key>
		<string>Verdadero</string>
		<key>B</key>
		<string>Falso</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Verdadero</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>La concenración se representa como masa / volumen</string>
		<key>A</key>
		<string>Falso</string>
		<key>B</key>
		<string>Verdadero</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Verdadero</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Tipo de concentración en la que hay un número de moles de soluto en 1 litro de solución</string>
		<key>A</key>
		<string>Normalidad</string>
		<key>B</key>
		<string>Molaridad</string>
		<key>C</key>
		<string>Relación</string>
		<key>D</key>
		<string>Solvente</string>
		<key>Correcta</key>
		<string>Molaridad</string>
		<key>Tipo</key>
		<string>OM</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Soluto de 300 ml de ácido sulfúrico + 10 g de nitrato de plata</string>
		<key>A</key>
		<string>Ácido sulfúrico</string>
		<key>B</key>
		<string>Nitrato de plata</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Nitrato de plata</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Soluto de 60 g de sal + 500 ml de agua</string>
		<key>A</key>
		<string>Sal</string>
		<key>B</key>
		<string>Agua</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Sal</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Soluto de 45 ml de alcohol + 250 ml de agua</string>
		<key>A</key>
		<string>Agua</string>
		<key>B</key>
		<string>Alcohol</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Alcohol</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Soluto de 2 cucharadas de café + 1 taza de leche</string>
		<key>A</key>
		<string>Café</string>
		<key>B</key>
		<string>Leche</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Café</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Soluto de 2 tapas de limpiador + 1 cubeta de agua</string>
		<key>A</key>
		<string>Agua</string>
		<key>B</key>
		<string>Limpiador de pisos</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Limpiador de pisos</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Solvente en 1 litro de agua + 620 g de azúcar</string>
		<key>A</key>
		<string>Agua</string>
		<key>B</key>
		<string>Azúcar</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Agua</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Solvente de 3 litro de agua + 100 ml de ácido nítrico</string>
		<key>A</key>
		<string>Agua</string>
		<key>B</key>
		<string>Ácido nítrico</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Agua</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Solvente de 250 ml de agua + 3.5 g de ácido láctico</string>
		<key>A</key>
		<string>Agua</string>
		<key>B</key>
		<string>Ácido láctico</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Agua</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Solvente de 450 ml de alcohol + 25 ml de agua</string>
		<key>A</key>
		<string>Agua</string>
		<key>B</key>
		<string>Alcohol</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Alcohol</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string>Solvente de 2 cucharadas de café + una taza de leche</string>
		<key>A</key>
		<string>Café</string>
		<key>B</key>
		<string>Leche</string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string>Leche</string>
		<key>Tipo</key>
		<string>VF</string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
	</dict>
	<dict>
		<key>Pregunta</key>
		<string></string>
		<key>A</key>
		<string></string>
		<key>B</key>
		<string></string>
		<key>C</key>
		<string></string>
		<key>D</key>
		<string></string>
		<key>Correcta</key>
		<string></string>
		<key>Tipo</key>
		<string></string>
		<key>Imagen</key>
		<string></string>
	</dict>
</array>
</plist>
