<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Texto</key>
		<string>Química fragante es la química de perfumes y aromas. Esta rama de la química es de las más antiguas remontando hasta Mesopotamia. Las fragancias y perfumes desde la antigüedad han tenido un rol importante por ejemplo los egipcios lo usaban para complacer a dioses y alejar a malos espíritus, en la actualidad se utiliza para el cuidado personal, cuidado de la casa e industria de alimentos.</string>
	</dict>
	<dict>
		<key>Texto</key>
		<string>Un perfume es una mezcla de fragancias y solventes. Una fragancia es generalmente un aceite esencial con un aroma. Las fragancias generalmente se extraen de flores y animales o son hechas en un laboratorio. Los egipcios utilizaban un método llamado “prensado” en el que aplastaban los pétalos de las flores para sacarle su aceite esencial. Luego se mezclaba con otro aceite o grasa animal para crear el perfume.</string>
	</dict>
	<dict>
		<key>Texto</key>
		<string>¿Cómo se obtienen los aromas? Hoy las técnicas de extracción para obtener la esencia  son: ​
a)	Destilación: se pone en agua hirviendo la materia prima (como la flor), el agua saca de los pétalos el aceite esencial. La esencia de lavanda se obtiene de este modo.​
b)	Prensado: se aplasta la materia prima como la cáscara de la naranja y se saca el aceite esencial.​
c)	Maceración: La planta se sumerge en aceite o grasa a 60-70 grados y los aceites esenciales son absorbidos por la grasa.​
Existen otras técnicas más avanzadas llamadas extracción, Enfleurage y exudación.​</string>
	</dict>
	<dict>
		<key>Texto</key>
		<string>Los perfumes generalmente son elaborados con alcohol ó con aceite. Al alcohol y al aceite se le llaman portadores. Los portadores son en los que la fragancia se disuelven y cuando entran en contacto con la piel, se evaporan liberando el olor de la fragancia. Los perfumes también contienen fijadores que son los que hacen que el portador no se evapore tan rápido para que el aroma dure más tiempo.​</string>
	</dict>
	<dict>
		<key>Texto</key>
		<string>Los perfumes se dividen en 3 categorías, dependiendo del contenido de aceites esenciales. Estas categorías son:​
Agua de colonia: contiene entre 1-5% de fragancia​
​
Agua de toilette: contiene entre 6-10% de fragancia​
​
c)	Agua de perfume: contiene entre 10 -20% de fragancia. No existe ningún perfume que tenga más de 20% de fragancia. </string>
	</dict>
</array>
</plist>
