<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Texto</key>
		<string>Una mezcla es un material o sustancia formada por dos o más componentes unidos, pero no combinados químicamente. En una mezcla no ocurre una reacción química y cada uno de sus componentes mantiene su identidad y propiedades químicas. ​
​
Los componentes de una mezcla pueden ser:​
a)	Sólidos​
b)	Líquidos​
c)	Gaseosos​
​
Las mezclas se clasifican en:​
a)	Homogéneas.​
b)	Heterogéneas.​</string>
	</dict>
	<dict>
		<key>Texto</key>
		<string></string>
	</dict>
	<dict>
		<key>Texto</key>
		<string></string>
	</dict>
	<dict>
		<key>Texto</key>
		<string></string>
	</dict>
	<dict>
		<key>Texto</key>
		<string></string>
	</dict>
</array>
</plist>
