<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>p1</key>
		<string>Como te llamas</string>
		<key>r1</key>
		<string>Leo</string>
		<key>r2</key>
		<string>Karen</string>
		<key>r3</key>
		<string>Luis</string>
		<key>r4</key>
		<string>Daniel</string>
		<key>rc</key>
		<string>Daniel</string>
	</dict>
</array>
</plist>
